<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goblin.demo.mapper.TestTableMapper">
    <resultMap id="testTable" type="goblin.demo.entity.TestTable">
        <result column="id" jdbcType="BIGINT" property="id" javaType="long"/>
        <result column="business" jdbcType="VARCHAR" property="business" javaType="string"/>
    </resultMap>

    <sql id="all_column">
        `id`, `business`
    </sql>
    <sql id="table_name">
        `topic`.`test_tb`
    </sql>


    <select id="findById" parameterType="string" resultMap="testTable">
        select
        <include refid="all_column"/>
        from
        <include refid="table_name"/>
        where id = #{id} ;
    </select>



    <insert id="save" parameterType="goblin.demo.entity.TestTable">
        INSERT INTO <include refid="table_name"/> (
        <include refid="all_column"/>
        ) VALUES (
        default, #{business}
        );
    </insert>


</mapper>
